body {
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  background-color: #fff;
}

#root {
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    flex: 2;
    min-height: 7vh;

    .header-container {
      justify-content: space-between;
    }

    .header-icon {
      margin-right: 5px;
    }

    .header-title {
      display: flex;
      align-items: center;
    }
  }

  main {
    display: flex;
    flex-direction: row;
    min-height: 93vh;

    .nav-panel {
      display: flex;
      flex: 15;
      flex-direction: column;
      border-right-width: 1px;
      border-right-style: solid;
      border-right-color: #ccc;
    }

    .routes {
      display: flex;
      flex: 85;
      flex-direction: column;

      .route-container {
        display: flex;
        flex-direction: column;
        padding: 10px;
        justify-content: center;
      }
    }
  }
}

table thead tr th {
  font-weight: bold !important;
}

.weather {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .temperature {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      display: flex;
      width: 70px;
      margin: 5px;
    }

    .temp {
      font-weight: bold;
      font-size: x-large;
    }
  }

  .description {
    font-weight: bold;
    word-wrap: break-word;
    color: #a5a5a5;
    font-size: x-large;
  }

  table {
    width: 50%;
  }
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;

  .location-paper {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
    padding: 20px;

    .form-control {
      margin: 10px !important;
      min-width: 120px;
    }
  }
}

.paper {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 20px;
  overflow: auto;
}

.searcher {
  padding-bottom: 10px;
  padding-top: 10px;

  .searcher-text-input {
    margin: 5px;
    width: 200px;
  }
}

.meetup-from {

  .text-area {
    width: 100%;
    height: 150px !important;
  }

  .select-multiple {
    width: 100%;

    .chips {
      display: flex;
      flex-wrap: wrap;

      .chip {
        margin: 5px;
      }
    }
  }
}

.forecast {
  display: flex;
  flex-direction: column;

  .temp {
    margin-left: 5px;
    margin-top: 5px;
    font-weight: bold;
    font-size: large;
  }

  .temp-description {
    margin-top: 5px;
    font-size: medium;
    font-weight: bold;
  }

  .feels-like {
    margin-left: 5px;
    font-weight: bold;
    font-size: large;
    color: #a5a5a5;
  }

  .feels-like-description {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: medium;
    font-weight: bold;
    color: #9b9b9b;
  }
}

.login-paper {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;

  .brand {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-right: 3px;
    border-radius: 7px;
    color: white;
    background-color: #3f51b5;

    .icon {
      margin-right: 5px;
    }
  }

  .content {
    width: 100%;
    margin-top: 10px;

    .submit-button {
      margin-top: 5px;
    }
  }
}
