body {
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  background-color: #fff;
}

#root {
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    flex: 2;
    min-height: 7vh;
  }

  main {
    display: flex;
    flex-direction: row;
    min-height: 93vh;

    .nav-panel {
      display: flex;
      flex: 15;
      flex-direction: column;
      border-right-width: 1px;
      border-right-style: solid;
      border-right-color: #ccc;
    }

    .routes {
      display: flex;
      flex: 85;
      flex-direction: column;
    }
  }
}
